*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #1e2746, #484c58);
  padding: 10px;
}
.tables{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.charts{
  display: flex;
  gap: 40px;
  justify-content: center;
}
.Table{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  h1{
    font-size: 36px;
  }
}
#myChart{
  width: 90%;
  background-color: #FFFFFF;
}
#tableContent,
#faultContent{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 10px;
  h3{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .logEventTable{
    display: flex;
    gap: 5px;
    .tableComponent{
      min-width: 90px;
      display: flex;
      flex-direction: column;
      .info{
        font-size: 12px;
        padding: 5px;
        white-space: nowrap;
        &:hover{
          background-color: rgb(228, 228, 228);
        }
      }
      .head{
        font-size: 12px;
        padding: 5px;
        background-color: #F5F5F5;
      }
    }
  }
}