* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #1e2746, #484c58);
  padding: 10px;
}

.tables {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.charts {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.Table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.Table h1 {
  font-size: 36px;
}

#myChart {
  width: 90%;
  background-color: #FFFFFF;
}

#tableContent,
#faultContent {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 10px;
}
#tableContent h3,
#faultContent h3 {
  font-size: 12px;
  margin-bottom: 10px;
}
#tableContent .logEventTable,
#faultContent .logEventTable {
  display: flex;
  gap: 5px;
}
#tableContent .logEventTable .tableComponent,
#faultContent .logEventTable .tableComponent {
  min-width: 90px;
  display: flex;
  flex-direction: column;
}
#tableContent .logEventTable .tableComponent .info,
#faultContent .logEventTable .tableComponent .info {
  font-size: 12px;
  padding: 5px;
  white-space: nowrap;
}
#tableContent .logEventTable .tableComponent .info:hover,
#faultContent .logEventTable .tableComponent .info:hover {
  background-color: rgb(228, 228, 228);
}
#tableContent .logEventTable .tableComponent .head,
#faultContent .logEventTable .tableComponent .head {
  font-size: 12px;
  padding: 5px;
  background-color: #F5F5F5;
}

@keyframes slideDown {
  0% {
    bottom: 100px;
  }
  70% {
    bottom: -30px;
  }
  100% {
    bottom: -4px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header h1 {
  color: rgb(216, 216, 216);
}
header ul {
  display: flex;
  gap: 15px;
}
header ul li {
  position: relative;
  width: 100px;
  height: 30px;
  text-align: center;
}
header ul li a {
  position: relative;
  z-index: 1;
  color: #d8d8d8;
  padding: 8px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px;
  background-color: #273157;
  bottom: 100px;
  left: -5px;
  border-radius: 3px;
  animation: slideDown 0.6s forwards ease-in-out;
}
header ul li:nth-child(1)::before {
  animation-delay: 0s;
}
header ul li:nth-child(2)::before {
  animation-delay: 0.1s;
}
header ul li:nth-child(3)::before {
  animation-delay: 0.2s;
}
header ul li:nth-child(4)::before {
  animation-delay: 0.3s;
}

.hero {
  margin-top: 50px;
  display: flex;
  width: 100%;
  gap: 20px;
  height: 500px;
}
.hero .aside {
  width: 13%;
  background-color: white;
}
.hero .aside input {
  padding-left: 10px;
  outline: none;
}
.hero .aside .list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.hero .aside .list div {
  padding: 5px;
  display: flex;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}
.hero .aside .list div:hover {
  background-color: rgb(213, 213, 213);
}
.hero .aside .list div label {
  padding-left: 5px;
  width: 100%;
}
.hero .left {
  background-color: #F2F3F8;
}
.hero .dashboard {
  display: flex;
  background-color: white;
}
.hero .dashboard .dashboardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.hero .dashboard .dashboardContent #myChartsecond {
  background-color: white;
  height: 100%;
  width: 40% !important;
  height: 380px !important;
}
.hero .dashboard .dashboardContent .boxes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.hero .dashboard .dashboardContent .boxes .box {
  width: 20px;
  height: 20px;
}
.hero .dashboard .dashboardContent .boxes .green {
  background-color: #008000;
}
.hero .dashboard .dashboardContent .boxes .blue {
  background-color: #1F1FFF;
}
.hero .dashboard .dashboardContent .boxes .red {
  background-color: #FF0000;
}

.margintop {
  margin-top: 50px;
}

.marginbottom {
  margin-bottom: 60px;
}

.CustomerID {
  display: block !important;
}

.searchTool {
  display: flex;
}

.search {
  width: 100%;
  background-color: #dcdcdc;
  border: none;
  height: 40px;
  outline: none;
  padding-left: 10px;
}

.find {
  cursor: pointer;
  width: 150px;
  color: white;
  border: none;
  background-color: green;
}

.objectCount {
  background-color: #e9e9e9;
  padding-top: 8px;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 100%;
}

.dashboardTop {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  color: hsla(0, 0%, 0%, 0.719);
  background-color: #dcdcdc;
  font-weight: 500;
  font-size: 24px;
  padding: 10px;
}/*# sourceMappingURL=index.css.map */